def mentopwear(request, data=None):
   if data == None:
      mentopwears = Product.objects.filter(category='MB')
   elif data == 'Denim' or data == 'Mufti' or data == 'BeingHuman' or data == 'JackJohn':
      mentopwears = Product.objects.filter(category='MB').filter(brand=data)
   elif data == 'Below':
      mentopwears = Product.objects.filter(category='MB').filter(discounted_price__lt=10000)
   elif data == 'Above':
      mentopwears = Product.objects.filter(category='MB').filter(discounted_price__gt=30000)
   return render(request, 'app/mentopwear.html', {'mentopwears':mentopwears})




https://fleamarket.github.io/